﻿@model SlutPrøve.Models.Users.RegisterViewModel

<div class="modal-header">

    <fieldset class="account">

        <h1>New User Registration</h1>

        <br />

        <form role="form" asp-action="Register">
            <div asp-validation-summary="All" class="input-validation-error"></div>

            <div class="form-group">
                <label asp-for="EmailAddress"></label>
                <input type="email" asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="field-validation-error"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="field-validation-error"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input type="password" asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="field-validation-error"></span>
            </div>
            <br />
            <div>
                <label>&nbsp;</label>
                <button type="submit" class="btn btn-primary">Lav ny bruger</button>
            </div>

        </form>
    </fieldset>
</div>
