﻿@model SlutPrøve.Models.News

<div class="text-center">
    <h1 class="display-4">Opret nyhed</h1>
    <br />
    <form role="form" asp-action="CreateNews" asp-controller="Home" method="post">

        <div asp-validation-summary="All" class="input-validation-error"></div>

        <div class="form-group">
            <label asp-for="Title"></label>
            <input type="text" asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="field-validation-error"></span>
        </div>

        <div class="form-group">
            <label asp-for="Content"></label>
            <input type="text" asp-for="Content" class="form-control" />
            <span asp-validation-for="Content" class="field-validation-error"></span>
        </div>

        <div class="form-group">
            <label asp-for="HashTags"></label>
            <input type="text" asp-for="HashTags" />
            <span asp-validation-for="HashTags" class="field-validation-error"></span>
        </div>
        <div>
            <label>&nbsp;</label>
            <button type="submit" class="btn btn-primary">Opret Nyhed</button>
        </div>
        <div>
            <input type="hidden" asp-for="Author" />
            <input type="hidden" asp-for="NewsId" />
            <input type="hidden" asp-for="CreatedDate" />
        </div>

    </form>

    <br />
</div>

