﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sebastians Nyhedswebsite</h1>
    <p>Velkommen til Sebastians fantastiske nyhedsside fyldt med de bedste nyheder!</p>
</div>
