﻿@{
    ViewData["Title"] = "News By Date";
}
@model IEnumerable<News>

<div class="text-center">
    <h1 class="display-4">Nyheder</h1>
</div>
<div class="container">
    @if (Model.Count() == 0)
    {
        <h5>Der var ingen nyheder inden for det angivne tidsrum</h5>
    }
    else
    {
        <table class="table">
            <tr>
                <td>Overskrift</td>
                <td>Forfatter</td>
            </tr>
            @foreach (News n in Model)
            {
                <tr>
                    <td><a asp-action="ViewNews" asp-route-id="@n.NewsId">@n.Title</a></td>
                    <td>@n.Author</td>
                </tr>
            }
        </table>
    }
</div>
