﻿@model SlutPrøve.Models.News
@{
    ViewData["Title"] = Model.Title;
}
<div class="text-center">
    <h1 class="display-4">@Model.Title</h1>
    <h3>Skrevet af @Model.Author</h3>
    <h5>@Model.CreatedDate</h5>
    <p>@Model.Content</p>
</div>
